body {
  margin: 0;
  font-family: Arial;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #131921;
  color: white;
  padding: 15px;
  align-items: center;
}

.navbar input {
  width: 40%;
  padding: 5px;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* PRODUCTOS */
.productos {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/* CARRITO */
.carrito {
  width: 30%;
  background: #f4f4f4;
  padding: 20px;
}

/* ADMIN */
.admin-container {
  padding: 20px;
}

.admin-navbar {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: white;
  padding: 10px;
}

.admin-content {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.admin-form, .admin-list {
  width: 50%;
}

#root {
  max-width: 1200px;
  margin: auto;
}